{% extends 'commons/base.html' %}
{% load static %}
{% block css %}
  <style>
      .plant-avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          margin-top: 10px;
          margin-bottom: 10px;
          margin-right: 10px;
      }

      .plant {
          text-align: center;
      }

      ul {
          white-space: nowrap;
          overflow-x: auto;
          text-align: center;
          list-style: none;
      }

      ul li {
          display: inline-block;
          margin-right: 10px;
      }

      .container {
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 20px;
      }

      .row {
          margin: 0;
      }

      .card-image {
          height: 180px;
          background-size: cover;
          background-position: center center;
          border-radius: 20px;
          margin-bottom: 5px;
      }

      .story-item h6 {
          margin: 0;
          font-size: 15px;
      }

      .story-item p {
          font-size: 12px;
      }

      .story-item {
          margin-bottom: 20px;
          padding-left: 6px;
          padding-right: 6px;
      }
  </style>
{% endblock css %}
{% block container %}
  <h3>My plants</h3>
  <div class="row">
    <ul>
      {% for plant in plants %}
        <li>
        <div class="plant">
          <div class="plant-avatar" style="background-image: url('{% get_media_prefix %}{{ plant.photo }}');"></div>
          <p>{{ plant.name }}</p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
  <h3>My Story</h3>
  <div class="row">
    {% for post in posts %}
      <div class="col-6 story-item">
      <div class="card-image" style="background-image: url('{% get_media_prefix %}{{ post.photo }}');"></div>
      <h6>{{ post.plant.name }}</h6>
      <p class="card-text">{{ post.content|truncatechars:15 }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock container %}

