{% extends 'commons/base.html' %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="{% static 'posts/css/post_list.css' %}" type="text/css">
  <style>
      .plant-photo {
          width: 95%;
          height: 95%;
          padding-bottom: 95%;
          background-color: bisque;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          display: inline-block;
      }
      a {
          text-decoration: none;
          color: black;
      }
  </style>
{% endblock css %}
{% block container %}
  <div class="container">
    <div class="row mb-3">
      <div class="col-10">
        <a href="{% url 'plants:plant_list' %}"><h3>My plants</h3></a>
      </div>
      <div class="col-2" style="line-height: 50px;">
        <a href="{% url 'plants:plant_create' %}" style="vertical-align: center">
          <img src="{% static 'commons/icon/plus-circle-fill.svg' %}" style="width: 30px;">
        </a>
      </div>
    </div>
    {% for plant in plants %}
      <a href="{% url 'plants:plant_detail' plant.pk %}">
      <div class="row mb-4 px-2">
        <div class="col-5">
          <div class="plant-photo" style="background-image: url('{% get_media_prefix %}{{ plant.photo }}');"></div>
        </div>
        <div class="col-6">
          <table style="height: 120px;">
            <tbody>
            <tr style="font-size: 1.25em;">
              <td class="align-middle">{{ plant.name }}<br>
                <div class="badge bg-success">D+{{ plant.passed_date }}</div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      </a>
    {% endfor %}
  </div>
{% endblock container %}

