{% extends 'commons/base.html' %}
{% load static %}
{% block css %}
  <style>
      .plant-photo {
          width: 50%;
          height: 50%;
          padding-bottom: 50%;
          background-color: bisque;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          display: inline-block;
      }

      .note {
          width: 90%;
          height: 300px;
          background-color: beige;
          border-radius: 20px;
          text-align: center;
      }
  </style>
{% endblock %}
{% block container %}
  <div class="container">
    <div class="row mb-3">
      <div class="col-10"><h3>My plant</h3></div>
    </div>
    <div class="row mb-2">
      <div class="d-flex justify-content-center">
        <div class="plant-photo" style="background-image: url('{% get_media_prefix %}{{ plant.photo }}');"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="text-center" style="font-size: 1.25em;">{{ plant }}</div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <div class="note">
          <table style="height: 100%; width: 100%">
            <tbody>
            <tr>
              <td class="align-middle">
                {% if plant.note %}
                  {{ plant.note }}
                {% else %}
                  작성된 노트가 없어요!<br><br>
                  <button type="button" class="btn btn-outline-success">노트 작성하기</button>
                {% endif %}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}