{% extends 'commons/base.html' %}
{% load static %}
{% block css %}
  <style>
      .plant-photo {
          width: 50%;
          height: 50%;
          padding-bottom: 50%;
          background-color: bisque;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          display: inline-block;
      }

      .card {
          border-radius: 20px;
          background-color: beige;
          border: none;
      }

      .icon-container a {
          text-decoration: none;
          color: black;
          margin-right: 10px;
      }
  </style>
{% endblock %}
{% block container %}
  <div class="container">
    <div class="row mb-3">
      <div class="col-10"><h3>My plant</h3></div>
    </div>
    <div class="row mb-2">
      <div class="d-flex justify-content-center">
        <div class="plant-photo" style="background-image: url('{% get_media_prefix %}{{ plant.photo }}');"></div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="text-center" style="font-size: 1.25em;">{{ plant }}</div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="icon-container d-flex flex-row-reverse" style="margin-bottom: 20px;">
          <a href="{% url 'plants:plant_update' plant.pk %}"><img src="{% static 'commons/icon/pencil-square.svg' %}"
                                                               alt="" style="width: 25px;"></a>
          <a href="{% url 'plants:plant_delete' plant.pk %}"><img src="{% static 'commons/icon/x-circle.svg' %}" alt=""
                                                               style="width: 25px;"></a>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Notification</h5>
            <hr>
            <p>{{ plant.name }}과 함께한지 {{ plant.since_date }}일 지났어요.</p>
            <p>마지막으로 물을 준지는 {{ plant.passed_date }}일 됬네요</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col">
        <div class="card" style="background-color: #FFFACD; border: none">
          <div class="card-body text-center" style="height: 250px; float: left">
            <br>
            <hr style="color: red;">
            {% if plant.note %}
              {{ plant.note }}
            {% else %}
              <br>
              <p>노트를 이용하여 나만의 가드닝 정보를 기록해보세요</p>
              <br>
              <button type="button" class="btn btn-outline-success">노트 작성하기</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
{% endblock %}