{% extends 'commons/base.html' %}
{% load static %}
{% block css %}
  <style>
      .story-image {
          height: 300px;
          background-size: cover;
          background-position: center center;
          border-radius: 20px;
          margin-bottom: 10px;
          background-color: red;
      }

      .story {
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 20px;
      }

      .content {
          font-size: 15px;
          font-family: 'Nanum Gothic', sans-serif;
      }

      .icon-container {
          padding-left: 10px;
          margin-bottom: 10px;
      }

      .icon-container a {
          text-decoration: none;
          color: black;
      }
  </style>
{% endblock css %}
{% block container %}
  <h3>My plant Story</h3>
  <div class="row">
  {% for post in post_qs %}
    <div class="col-12 story">
      <div class="story-image" style="background-image: url('{% get_media_prefix %}{{ post.photo }}');"></div>
      <div class="icon-container"><a href="#"><i class="fas fa-comments fa-2x"></i></a> <a href="#"><i
        class="fas fa-heart fa-2x"></i></a></div>
      <div class="content">{{ post.content|linebreaks }}</div>
      <div>ㄴ 댓글맨1: 기능 추가 예정</div>
      <div>ㄴ 댓글맨2: 이렇게 나오면 되나?</div>
    </div>
  {% endfor %}
  </div>
{% endblock container %}

